---
import Logo from './Logo.astro'
import Themetoggle from './Themetoggle.astro'
---

<header>
  <div class="fb items-center">
    <Logo />
    <Themetoggle />
  </div>
  <div class="fi mt-4">
    <span class="gpt-title">智能助理</span>
    <span class="gpt-subtitle ml-5">连接未来，从现在开始</span>
  </div>
  <p mt-3 op-60>使用本网站无需魔法，直接配置API KEY</p>
  <p mt-3 op-60>本站有全网最全chatgpt教程，包括从0到1搭建自己的ChatGPT网站，如有兴趣可加我微信kaerforever</p>
</header>
